<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
  <appSettings>
    <!--服务器IP -->
    <!--<add key="ServerIP" value="127.0.0.1"/>-->
    <!--服务器端口-->
    <!--<add key="ServerPort" value="4540"/>-->
    <!--升级完成后，将被回调的可执行程序的名称-->
    <add key="CallbackExeName" value="Netalks.exe"/>
    <!--主窗体的Title-->
    <add key="Title" value="文件更新"/>   
  </appSettings>  
</configuration>